@using Blazored.Typeahead;
@using Blazorise.Components;
@using Isozay.Hukuk.Clients
@inject IClientService clientService
@inherits AbpCrudPageBase<IClientService, ClientDto, long, PagedAndSortedResultRequestDto, CreateUpdateClientDto>

<div class="input-group" style="padding:0; column-gap:10px; column-fill:auto">
    <div class="input-group col" style="padding:0">
        @if (Selected == null)
        {
            <BlazoredTypeahead SearchMethod="SearchClient"
                               TItem="ClientDto"
                               TValue="ClientDto"
                               Value="Selected"
                               DisableClear
                               ValueChanged="@( (ClientDto c) => SelectedResultChanged(c) )"
                               ValueExpression="@( () => Selected )"
                               class="form-control"
                               type="text"
                               Placeholder="Müşteri / Müvekkil"
                               Debounce="500">
                <SelectedTemplate>
                    <Validation>

                    </Validation>
                </SelectedTemplate>
                <ResultTemplate>
                    <strong class="mr-2 text-plaka">@context.ClientType.GetDisplayName()</strong> @context.Name*
                </ResultTemplate>
                <NotFoundTemplate>
                    Müşteri / Müvekkil Bulunamadı.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        }

        @if (Selected != null)
        {
            <div class="form-control inp-g" style="align-content:center">
                <strong>@Selected?.ClientType.GetDisplayName()</strong> <span>@Selected?.Name</span>
            </div>
        }

    </div>
    
    <div class="input-group col" style="padding:0">
        @if (Selected == null)
        {
            <Button Color="Color.Success" @onclick="() => OpenCreateDialog()">
                Yeni
            </Button>
        }
        @if (Selected != null)
        {
            <Button Color="Color.Danger" @onclick="clickHandler">
                Kaldır
            </Button>
        }
    </div>
    @if (CreateDialogOpen)
    {
        <AddClient OnClose="@OnCreateDialogClose"></AddClient>
    }
</div>

@code {
    [Parameter]
    public ClientDto Selected { get; set; }
    [Parameter]
    public EventCallback<ClientDto> SelectedChanged { get; set; }
    public Task ShowList() => Task.CompletedTask;

    public bool CreateDialogOpen { get; set; }

    public async void clickHandler()
    {
        Selected = null;
        await SelectedChanged.InvokeAsync(Selected);
        StateHasChanged();
    }

    private void OnCreateDialogClose(bool accepted)
    {
        CreateDialogOpen = false;
        StateHasChanged();
    }

    private void OpenCreateDialog()
    {
        CreateDialogOpen = true;
        StateHasChanged();
    }

    private async Task SelectedResultChanged(ClientDto result)
    {
        if (result == null) return;
        Selected = result;
        await SelectedChanged.InvokeAsync(Selected);
        StateHasChanged();
    }

    private async Task<IEnumerable<ClientDto>> SearchClient(string searchText)
    {
        return await clientService.Search(searchText);
    }

}