@using Isozay.Hukuk.Clients
@using Isozay.Hukuk.Permissions
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Application.Dtos
@using Volo.Abp.BlazoriseUI

@inject Volo.Abp.AspNetCore.Components.Messages.IUiMessageService Messages
@inject Clients.IClientService clientService
@inject IJSRuntime JSRuntime

<Modal class="modal fade show" id="ClientTranHistoryModal" style="display: block; background-color:rgba(10,10,10,.5)">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <Form>
            <ModalHeader>
                <ModalTitle>@entity.Name Transfer Bilgisi</ModalTitle>
                <CloseButton Clicked="ModalCancel" />
            </ModalHeader>
            <ModalBody>

                <Row>
                    <Column ColumnSize="ColumnSize.IsHalf">
                        <Alert Color="Color.Danger" Visible>

                            <DataGrid Data="@i" ShowPager="true">
                                <DataGridColumns>
                                    <DataGridColumn TItem="ClientTranDto" Caption="Amount">
                                        <DisplayTemplate>
                                            @context.Amount.ToString("G29")
                                        </DisplayTemplate>
                                    </DataGridColumn>
                                    <DataGridColumn TItem="ClientTranDto" Caption="Description">
                                        <DisplayTemplate>
                                            @context.Description
                                        </DisplayTemplate>
                                    </DataGridColumn>
                                </DataGridColumns>
                            </DataGrid>

                        </Alert>
                    </Column>
                    <Column ColumnSize="ColumnSize.IsHalf">
                        <Alert Color="Color.Success" Visible>

                            <DataGrid Data="@o" ShowPager="true">
                                <DataGridColumns>
                                    <DataGridColumn TItem="ClientTranDto" Caption="Amount">
                                        <DisplayTemplate>
                                            @context.Amount.ToString("G29")
                                        </DisplayTemplate>
                                    </DataGridColumn>
                                    <DataGridColumn TItem="ClientTranDto" Caption="Description">
                                        <DisplayTemplate>
                                            @context.Description
                                        </DisplayTemplate>
                                    </DataGridColumn>
                                </DataGridColumns>
                            </DataGrid>

                        </Alert>
                    </Column>
                </Row>

            </ModalBody>
            <ModalFooter>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public ClientDto entity { get; set; }
    List<ClientTranDto> i;
    List<ClientTranDto> o;

    protected override async Task OnInitializedAsync()
    {
        i = new List<ClientTranDto>();
        o = new List<ClientTranDto>();

        var temp = await clientService.GetClientTranDtoHistory(entity.Id);

        temp.ForEach(x =>
        {
            if (x.IO == 'I') i.Add(x);
            else o.Add(x);
        });

        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }
}

